<h1>Triste login</h1>

<form method="post">
    <input type="text" name="email" placeholder="email" />
    <hr/>
    <input type="password" name="password" placeholder="Password" />
    <hr/>
    <button class="btn btn-info">Iniciar Sesion</button>
</form>

@ViewData["MENSAJE"]