﻿@using System.Security.Claims
@if(Context.User.Identity.IsAuthenticated){

    <li class="nav-item"> <img class="user nav-item" src="/images/@Context.User.FindFirst("FOTO").Value" /></li>
    <li >
        <p  style="padding:0px;margin: 0px;"> Hola, @Context.User.FindFirst("USERNAME").Value</p>
    </li>

    <li class="nav-item">
        <a asp-action="Logout" asp-controller="Managed" class="nav-link text-dark">
        Cerrar sesion
    </a></li>
}else{
    <li class="nav-item">
        <a asp-action="Perfil" asp-controller="Usuarios" class="nav-link text-dark">
            Login
        </a>
    </li>
}


<style>
    .user {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
    }
</style>
